<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/60718250jw1ezhg0yw616j20go0go77r.jpg;</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://e.hiphotos.baidu.com/image/h%3D200/sign=ca668b7c9a510fb367197097e931c893/a8014c086e061d9526d0f2fd7ff40ad163d9ca65.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://h.hiphotos.baidu.com/image/pic/item/203fb80e7bec54e7f14e9ce2bf389b504ec26aa8.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>text</key>
			<string>火箭在圣诞大战上战胜马刺，惊艳一战却付出了极大代价：那是火箭近6战来的仅有1胜。上一场再战马刺大比分落败后，火箭遭遇4连败，这4败每场都至少失110分。火箭首发齐整，但替补配置出现问题：劳森、索顿与莫蒂埃尤纳斯均缺阵。爵士持续应对着严重伤情，但近4战取得3胜，已超越火箭上升到了西部第7位。</string>
			<key>source</key>
			<string>&lt;a href=\&quot;http://weibo.com/\&quot; rel=\&quot;nofollow\&quot;&gt;\U5fae\U535a weibo.com&lt;/a&gt;</string>
			<key>created_at</key>
			<string>Wed Dec 30 13:30:03 +0800 2015</string>
			<key>idstr</key>
			<string>3925742465279731</string>
			<key>original_pic</key>
			<string>http://ww2.sinaimg.cn/thumbnail/c40b501fjw1ez3iaygzwkj20c82o3dou.jpg</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/60718250jw1ezhg0yw616j20go0go77r.jpg;</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://a.hiphotos.baidu.com/image/pic/item/9c16fdfaaf51f3de6cee3f9892eef01f3b2979ea.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://img3.3lian.com/2006/011/02/004.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>12</integer>
			<key>attitudes_count</key>
			<integer>34</integer>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2832482174</string>
				<key>name</key>
				<string>JF</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2832482174/50/5634505960/1</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
