<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131012/vud8_kqywordekfbgo2dwgfjeg5sckzsew_310x426.jpg_200x999.jpg</string>
		<key>message</key>
		<string>据说XXX是个好公司？</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131010/10ssu8_kqytgrc7kfbgutcugfjeg5sckzsew_375x575.jpg_200x999.jpg</string>
		<key>message</key>
		<string>是的 ，，，人家是个好公司</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s8.mogujie.cn/b7/bao/131007/joyy_kqytotcfkfbfqwtwgfjeg5sckzsew_390x665.jpg_200x999.jpg</string>
		<key>message</key>
		<string>明天去，贵公司面试感受一下</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/q25mx_kqytm2c7kfbf6x2ugfjeg5sckzsew_376x512.jpg_200x999.jpg</string>
		<key>message</key>
		<string>好鸡动</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131011/joyy_kqyxcukekfbhs2cugfjeg5sckzsew_456x521.jpg_200x999.jpg</string>
		<key>message</key>
		<string>XXX我来了</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
	<dict>
		<key>department</key>
		<string>人事部-范丹萍</string>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131010/10ssu8_kqytgrc7kfbgutcugfjeg5sckzsew_375x575.jpg_200x999.jpg</string>
		<key>message</key>
		<string>哎，，，都12点了</string>
		<key>date</key>
		<string>2015-11-2</string>
	</dict>
</array>
</plist>
